<div id="banner_tabs" class="flexslider">
	<ul class="slides">
		<li>
			<a title="" target="_blank" href="#">
				<img alt="" style="background: url(/static/images/banner1.jpg) no-repeat left;" src="/static/images/alpha.png">
			</a>
		</li>
		<li>
			<a title="" href="#">
				<img alt="" style="background: url(/static/images/banner2.jpg) no-repeat left;" src="/static/images/alpha.png">
			</a>
		</li>
		<li>
			<a title="" href="#">
				<img alt="" style="background: url(/static/images/banner3.jpg) no-repeat left;" src="/static/images/alpha.png">
			</a>
		</li>
	</ul>
	<ul class="flex-direction-nav">
		<li><a class="flex-prev" href="javascript:;">Previous</a></li>
		<li><a class="flex-next" href="javascript:;">Next</a></li>
	</ul>
	<ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
		<li><a>1</a></li>
		<li><a>2</a></li>
		<li><a>2</a></li>
	</ol>
</div>
<script type="text/javascript">
$(function() {
	var bannerSlider = new Slider($('#banner_tabs'), {
		time: 5000,
		delay: 400,
		event: 'hover',
		auto: true,
		mode: 'fade',
		controller: $('#bannerCtrl'),
		activeControllerCls: 'active'
	});
	$('#banner_tabs .flex-prev').click(function() {
		bannerSlider.prev()
	});
	$('#banner_tabs .flex-next').click(function() {
		bannerSlider.next()
	});
})
</script>
