<head>
	<title>KAIPU Agriculture Machine</title>
	<link href="/static/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/static/bootstrap/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/static/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/templatemo-style.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Blogname Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" 
	/>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!----webfonts---->
		<link href='http://fonts.useso.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
		<!----//webfonts---->
		  <script src="http://ajax.useso.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<!--end slider -->
		<!--script-->
<script type="text/javascript" src="/static/bootstrap/js/move-top.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/easing.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/slider.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!---->

</head>