<!DOCTYPE HTML>
<html>
	 {% include 'head.html' %}
<body>
<!---strat-banner---->
<div class="banner">				
	 <div class="header">  
	  <div class="container">
		  <div class="logo">
				<a href="{% url 'index' %}"> <img src="/static/images/logo.png" title="soup" /></a>
		 </div>
		 <!---start-top-nav---->
		 <div class="top-menu">
			  <span class="menu"> </span> 
			   <ul>
					<li class="active"><a href="{% url 'index' %}">HOME</a></li>						
					<li><a href="{% url 'contact' %}">CONTACT</a></li>	
					<li><a href="{% url 'term' %}">TERMS</a></li>						
					<div class="clearfix"> </div>
			 </ul>
		 </div>
		 <div class="clearfix"></div>
				<script>
				$("span.menu").click(function(){
				$(".top-menu ul").slideToggle("slow" , function(){
				});
				});
				</script>
			<!---//End-top-nav---->					
	 	</div>
 	</div>
	 <div class="container">
		 {% include 'bannerhead.html' %}	
	 </div>
</div>
<!---//End-banner---->
<div class="content">
	 <div class="container">
	 	<a>{{artical}}</a>
		 <div class="banner-links">
			 <ul>
				 <li id="a1" class="active"><a>LOREM IPSUM</a></li>
				 <li id="a2"><a>DOLAR SITE AMET</a></li>
				 <li id="a3"><a>MORBI IN SEM</a></li>
				 <div class="clearfix"></div>
			 </ul>
		 </div>
		 <div class="content-grids">
			 <div class="col-md-8 content-main">
				 <div class="content-grid">
					 <div class="content-grid-head">
						 <h3>POST OF THE DAY</h3>
						 <h4>July 24, 2014,Posted by: <a href="#">Admin</a></h4>
						 <div class="clearfix"></div>
					 </div>
					 <div class="content-grid-info">
						 <h3><a href="single.html">MORBI IN SEM QUIS DUI</a></h3>
						 <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
						 <img src="/static/images/c1.jpg" alt=""/>
						 <a class="bttn" href="single.html">MORE</a>
					</div>
				 </div>
				 
				 <div class="content-grid-sec">
					 <div class="content-sec-info">
							 <h3><a href="single.html">ALIQUAM TINCIDUNT MAURI</a></h3>
							 <h4>Jul 23, 2014, Posted by : <a href="#">Admin</a></h4>
							 <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
							 <img src="/static/images/c2.jpg" alt=""/>
							 <a class="bttn" href="single.html">MORE</a>
					 </div>
				 </div>
				 <div class="content-grid-sec">
					 <div class="content-sec-info">
							 <h3><a href="single.html">VESTIBULUM COMMODO FELIS</a></h3>
							 <h4>Jul 23, 2014, Posted by : <a href="#">Admin</a></h4>
							 <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
							 <img src="/static/images/c3.jpg" alt=""/>
							 <a class="bttn" href="single.html">MORE</a>
					 </div>
				 </div>				 
				 <div class="pages">
					 <ul>
						 <li class="active"><a href="#">1</a></li>
						 <li><a href="#">2</a></li>
						 <li><a href="#">3</a></li>
						 <li><a href="#">4</a></li>
						 <li><a href="#">5</a></li>
						 <li><a href="#">6</a></li>
						 <li><a href="#">Previous</a></li>
						 <li><a href="#">Next</a></li>
					 </ul>
				 </div>				 
			 </div>
			 
			 <div class="col-md-4 content-main-right">
				 <div class="search">
						 <h3>SEARCH HERE</h3>
						<form>
							<input type="text" value="" onFocus="this.value=''" onBlur="this.value=''">
							<input type="submit" value="">
						</form>
				 </div>
				 <div class="categories">
					 <h3>CATEGORIES</h3>
					 <li class="active"><a href="#">Donec quis dui at dolor tempor</a></li>
					 <li><a href="#">Vestibulum commodo felis quis tort</a></li>
					 <li><a href="#">Fusce pellentesque suscipit</a></li>
				 </div>
				 <div class="archives">
					 <h3>ARCHIVES</h3>
					 <li class="active"><a href="#">July 2014</a></li>
					 <li><a href="#">June 2014</a></li>
					 <li><a href="#">May 2014</a></li>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!--fotter-->
<div class="fotter">
	 <div class="container">
		 <div class="col-md-4 fotter-info">
			 <h3>INTEGER VITAE LIBERO</h3>
			 <p>Raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. </p>
			 <p>Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. Phasellus ultrices nulla quis nibh. Quisque a lectus. </p>
		 </div>
		 <div class="col-md-4 fotter-list">
			 <h3>VESTIBULUM COMMO</h3>
			 <ul>
			 <li><a href="#">Ut alliquam solicitudin</a></li>
			 <li><a href="#">Neque id cursus faucibus</a></li>
			 <li><a href="#">Raesent dapibus neque id cursus</a></li>
			 </ul>
		 </div>
		 <div class="col-md-4 fotter-media">
				<h3>FOLLOW US ON....</h3>
				 <div class="social-icons">
				 <a href="#"><span class="fb"> </span></a>
				 <a href="#"><span class="twt"> </span></a>
				 <a href="#"><span class="in"> </span></a>				 			 
			    </div>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!---fotter/-->
{% include 'rightreserved.html' %}
</div>
<!---->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$("#a1").click(function(){
			$("#a1").addClass("active");
			$("#a2").removeClass("active");
			$("#a3").removeClass("active");
		})
		$("#a2").click(function(){
			$("#a1").removeClass("active");
			$("#a2").addClass("active");
			$("#a3").removeClass("active");
		})
		$("#a3").click(function(){
			$("#a1").removeClass("active");
			$("#a2").removeClass("active");
			$("#a3").addClass("active");
		})
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>


<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>



</body>
</html>
