<!DOCTYPE HTML>
<html>
	 {% include 'head.html' %}
<body>
<!---strat-banner---->
<div class="banner">		 
	 {% include 'header.html' %}
	 <div class="container">
		 {% include 'bannerhead.html' %}	
	 </div>
</div>
<!---//End-banner---->
<div class="content">
	 <div class="container">
	 	
	 	<div class="col-md-9">
		  <div class="terms-sec-head">
		  	<br />
				<h3>NEWS</h3>
				<br />
		  </div> 
			{% autoescape off %}
			{% for pr in newss %}
		  		<div class='term'>
			 		<h4><a href="{% url 'products' pr.id %}">{{  pr.name }}</a></h4>
			 		<p>{{  pr.abstract }}</p>
		  		</div>
			{% endfor %}
			{% endautoescape %}
		</div>
		
			{% include 'bread.html' %}
		 
	 </div>
</div>
<!--fotter-->
{% include 'footer.html' %}
{{request.user.is_authenticated}}
<!---fotter/-->
{% include 'rightreserved.html' %}
</div>
<!---->
<!---->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>



</body>
</html>
