<!DOCTYPE HTML>
<html>
	 {% include 'head.html' %}
<body>
<!---strat-banner---->
<div class="banner">			
	 {% include 'header.html' %}
	 <div class="container">
		 {% include 'bannerhead.html' %}	
	 </div>
</div>
<!---//End-banner---->
<div class="content">
	 <div class="container">
		 <div class="banner-links">
			 <ul>
				 <li id="a1" class="active"><a>Video1</a></li>
				 <li id="a2"><a>Videol2</a></li>
				 <li id="a3"><a>Videol3</a></li>
				 <div class="clearfix"></div>
			 </ul>
		 </div>
		 <div class="content-grids">
			 <div class="col-md-9 content-main">
			 	<div id="arti1">
			 		<center>
			 			<iframe width="560" height="315" src="https://www.youtube.com/embed/wyslGHOgQ_M" frameborder="0" allowfullscreen></iframe>
			 		</center>
			 	</div>
			 	<div id="arti2">
			 		<center>
						<iframe width="560" height="420" src="https://www.youtube.com/embed/2f1dnzJnRPw" frameborder="0" allowfullscreen></iframe>
					</center>
			 	</div>
			 	<div id="arti3">
			 		<center>
			 			<iframe width="560" height="420" src="https://www.youtube.com/embed/-jrAKmV5bRM" frameborder="0" allowfullscreen></iframe>
			 			<iframe width="560" height="420" src="https://www.youtube.com/embed/DOzhDEizR3M" frameborder="0" allowfullscreen></iframe>
			 		</center>
			 	</div>
			 </div>
			 
			 
			{% include 'bread.html' %}
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!--fotter-->
{% include 'footer.html' %}
<!---fotter/-->
{% include 'rightreserved.html' %}
</div>
<!---->
<script type="text/javascript">
		$(document).ready(function() {
			$("#arti1").show();
			$("#arti2").hide();
			$("#arti3").hide();
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$("#a1").click(function(){
			$("#a1").addClass("active");
			$("#a2").removeClass("active");
			$("#a3").removeClass("active");
			$("#arti1").show();
			$("#arti2").hide();
			$("#arti3").hide();
		})
		$("#a2").click(function(){
			$("#a1").removeClass("active");
			$("#a2").addClass("active");
			$("#a3").removeClass("active");
			$("#arti1").hide();
			$("#arti2").show();
			$("#arti3").hide();
		})
		$("#a3").click(function(){
			$("#a1").removeClass("active");
			$("#a2").removeClass("active");
			$("#a3").addClass("active");
			$("#arti1").hide();
			$("#arti2").hide();
			$("#arti3").show();
		})
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>


<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>



</body>
</html>
